<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="/abaout">about</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="/contact">Contact</a>
        </li>
    </ul>
</nav>